<div id="language-switcher" class="language-switcher">
    <button id="schemaButton" class="schema-button">
        <span data-i18n="schema.schema">SCHEMA</span>
        <div class="tooltip">
            <span data-i18n="schema.tooltip">See the latest SCHEMA from the database</span>
        </div>
    </button>
    <div class="admin-mode-container">
        <span class="admin-mode-label">
            <span data-i18n="admin.adminMode">ADMIN MODE</span>
        </span>
        <div class="switch-container">
            <label class="switch admin-switch">
                <input type="checkbox" id="adminToggle">
                <span class="switch-slider"></span>
            </label>
            <div class="tooltip">
                <span data-i18n="admin.adminTooltip">Ignoring foreign key checks - Use with caution</span><br>
                <hr>
                <kbd>Q</kbd> - <span data-i18n="admin.customQuery">Custom SQL query</span><br>
                <span data-i18n="admin.afterSelectingCell">After selecting a cell:</span><br>
                <kbd>A</kbd> - <span data-i18n="admin.addNewRow">Add new empty row</span><br>
                <kbd>D</kbd> - <span data-i18n="admin.deleteRow">Delete selected row</span><br>
                <kbd>X</kbd> - <span data-i18n="admin.deleteAllMatching">Delete all rows matching value</span><br>
                <kbd><span data-i18n="admin.oneMoreClick">One more click</span></kbd> - <span data-i18n="admin.editValue">Edit value</span>
            </div>
        </div>
    </div>
    <div class="language-dropdown" id="languageDropdown">
        <button class="language-dropdown-button" id="languageDropdownButton">
            <span class="current-language" data-i18n="languages.english">English</span>
            <span class="arrow">▼</span>
        </button>
        <div class="language-dropdown-menu" id="languageDropdownMenu">
            <div class="language-dropdown-item" data-lang="ko">
                <span class="flag">🇰🇷</span>
                <span class="name" data-i18n="languages.korean">한국어</span>
            </div>
            <div class="language-dropdown-item active" data-lang="en">
                <span class="flag">🇺🇸</span>
                <span class="name" data-i18n="languages.english">English</span>
            </div>
            <div class="language-dropdown-item" data-lang="vi">
                <span class="flag">🇻🇳</span>
                <span class="name" data-i18n="languages.vietnamese">Tiếng Việt</span>
            </div>
        </div>
    </div>
    <div class="theme-switcher">
        <label class="theme-switch" title="Toggle dark mode">
            <input type="checkbox" id="themeToggle" style=" margin: 7px;">
            <span class="theme-switch-slider">
                <span class="theme-icon sun-icon"></span>
                <span class="theme-icon moon-icon"></span>
            </span>
        </label>
    </div>
</div>
